<div class="vf-search-engine">
  <div class="input-group">
    <input
      type="search"
      autocomplete="off"
      [placeholder]="isListening ? '' : 'Search...'"
      [readonly]="isListening"
      [(ngModel)]="searchKeywords"
    />
    <div class="mic-wrapper" (click)="toggleSpeechRecognition()">
      <img
        src="/assets/mic.svg"
        alt="mic icon"
        [class.listening]="isListening"
      />
    </div>
  </div>

  <div class="loader-container" *ngIf="isListening">
    <canvas #waveformCanvas class="waveform-canvas"></canvas>
  </div>
</div>
